.container-author {
    margin-inline: auto;
    width: 614px;
    height: auto;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
    display: flex;
  }
  
  .author-genre {
    align-self: center;
  }
  
  .container-author:hover {
    background-color: #4a4e69;
    cursor: pointer;
    transition: all ease 1s;
  }
  
  .author {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #f6fff8;
  }
  
  .genre {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #eaf4f4;
    margin-top: -1em;
  }
  
  .flechita {
    color: #fff
  }

  .text-start {
    margin-inline: auto;
    width: 614px;
    height: auto;
    text-align: left;
  }


@media (max-width: 768px) { 
  .container-author {
      width: 400px;
  }
  
  .text-start {
    width: 400px;
} 
}

@media (max-width: 425px) { 
  .container-author {
    width: 300px;
} 
  .text-start {
    width: 300px;
  } 
}