.random-btn {
    color: #4F4F4F;
    padding-right: 3em;
    padding-top: 1em;
    display: flex;
    justify-content: end;
    cursor: pointer
  }
  
  .random-btn-text {
    margin-top: .055em;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    padding-right: .2em;
  }
  